<h1>Please Login</h1>
<form action="/login" method="post">
    <input placeholder="email" type="text" name="email">
    <input placeholder="password" type="password" name="password">
    <input type="submit">
</form>