<form method = "POST" action="/todos">
<label for="content"> Enter todo content here: </label>
<input type="text" name="content">
<label for="done"> Completed? </label>
<input type="checkbox" name="done" value="true">
<input type="submit"> 
</form>
